<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">

    <title>Todo List</title>
  </head>
  <body>

    <nav class="wwc-navbar navbar navbar-light bg-light text-white shadow">
      <div class="d-flex">
        <a href="/" class="wwc-home-link"><span class="wwc-navbar-brand navbar-brand mb-0 h1 text-white d-flex align-items-center font-size-navbar">ToDo List</span></a>
        <div class="wwc-uncompleted-and-date">
          <span class="wwc-number-of-incompleted-tasks">{{ .PendingTasksNumber }} Incompleted Tasks</span><br>
          <span class="wwc-today-date">{{.CurrentDateTime.Weekday}} {{.CurrentDateTime.Day}}, {{.CurrentDateTime.Month}} {{.CurrentDateTime.Year}}</span>
        </div>
      </div>

      <div>
        <ul class="d-flex align-items-center list-unstyled m-0">

          {{ if and (not .FilterStatus.Completed) (not .FilterStatus.Incompleted) }}
          <li><a href="/" class="text-white wwc-nav-link wwc-nav-first-link wwc-active-link">All Tasks</a></li>
          {{ else }}
          <li><a href="/" class="text-white wwc-nav-link wwc-nav-first-link">All Tasks</a></li>
          {{ end }}

          {{ if .FilterStatus.Incompleted }}
          <li><a href="/?status=incompleted" class="text-white wwc-nav-link wwc-nav-first-link wwc-active-link">Incompleted Tasks</a></li>
          {{ else }}
          <li><a href="/?status=incompleted" class="text-white wwc-nav-link wwc-nav-first-link">Incompleted Tasks</a></li>
          {{ end }}

          {{ if .FilterStatus.Completed }}
          <li><a href="/?status=completed" class="text-white wwc-nav-link wwc-nav-first-link wwc-active-link">Completed Tasks</a></li>
          {{ else }}
          <li><a href="/?status=completed" class="text-white wwc-nav-link wwc-nav-first-link">Completed Tasks</a></li>
          {{ end }}
          
        </ul>
      </div>
    </nav>

    <div class="d-flex justify-content-end">
      {{ if .FilterStatus.Completed }}
      <a class="btn wwc-add-task-btn text-white" href="/new?status=completed">Add Task</a>
      {{ else if .FilterStatus.Incompleted }}
      <a class="btn wwc-add-task-btn text-white" href="/new?status=incompleted">Add Task</a>
      {{ else }}
      <a class="btn wwc-add-task-btn text-white" href="/new">Add Task</a>
      {{ end }}
    </div>
    <div class="wwc-tasks-container">
      <table class="table table-borderless" id="wwc-task-table">
        <thead class="thead-dark">
          <tr>
            <th class="wwc-task-name wwc-thead-first-element">Task</th>
            <th class="wwc-task-date-and-actions">Complete by</th>
            <th class="wwc-task-date-and-actions">Actions</th>
          </tr>
        </thead>
        {{range $task := .TasksArray}}
        <tbody>
          <tr>
            <td class="wwc-task-name">

              {{ if $task.Completed}}
                {{ if $.FilterStatus.Completed }}
              <a class="wwc-complete-check" href="/complete?status=completed&id={{$task.ID}}"><i class="far fa-times-circle"></i></a>
                {{ else }}
              <a class="wwc-complete-check" href="/complete?id={{$task.ID}}"><i class="far fa-times-circle"></i></a>
                {{ end }}
              {{ else }}
                {{ if $.FilterStatus.Incompleted }}
              <a class="wwc-complete-check" href="/complete?status=incompleted&id={{$task.ID}}"><i class="far fa-check-circle"></i></a>
                {{ else }}
                <a class="wwc-complete-check" href="/complete?id={{$task.ID}}"><i class="far fa-check-circle"></i></a>
                {{ end }}
              {{ end }}
              
              {{ if $.FilterStatus.Completed }}
              <a href="/show?status=completed&id={{$task.ID}}" class="wwc-task-title">{{$task.Title}}</a>
              {{ else if $.FilterStatus.Incompleted }}
              <a href="/show?status=incompleted&id={{$task.ID}}" class="wwc-task-title">{{$task.Title}}</a>
              {{ else }}
              <a href="/show?id={{$task.ID}}" class="wwc-task-title">{{$task.Title}}</a>
              {{ end }}

            </td>
            <td class="wwc-task-date-and-actions">{{$task.Deadline.UTC.Day}} {{$task.Deadline.UTC.Month}} {{$task.Deadline.UTC.Year}}</td>
            <td class="wwc-task-date-and-actions">

              {{ if $.FilterStatus.Completed }}
              <a href="/edit?status=completed&id={{$task.ID}}" class="wwc-edit-item"><i class="fas fa-pencil-alt"></i></a>
              {{ else if $.FilterStatus.Incompleted }}
              <a href="/edit?status=incompleted&id={{$task.ID}}" class="wwc-edit-item"><i class="fas fa-pencil-alt"></i></a>
              {{ else }}
              <a href="/edit?id={{$task.ID}}" class="wwc-edit-item"><i class="fas fa-pencil-alt"></i></a>
              {{end}}

              {{ if $.FilterStatus.Completed }}
              <a class="js-wwc-trash-btn" href="#" data-toggle="modal" data-target="#wwc-modal-delete" data-delete="/delete?status=completed&id={{$task.ID}}"><i class="far fa-trash-alt"></i></a>
              {{ else if $.FilterStatus.Incompleted }}
              <a class="js-wwc-trash-btn" href="#" data-toggle="modal" data-target="#wwc-modal-delete" data-delete="/delete?status=incompleted&id={{$task.ID}}"><i class="far fa-trash-alt"></i></a>
              {{ else }}
              <a class="js-wwc-trash-btn" href="#" data-toggle="modal" data-target="#wwc-modal-delete" data-delete="/delete?id={{$task.ID}}"><i class="far fa-trash-alt"></i></a>
              {{end}}
            </td>
          </tr>
        </tbody>
        {{end}}
      </table>
    </div>
    
    <div class="wwc-delete-modal-container">

      <div class="modal fade" id="wwc-modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete Task</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this task?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn wwc-cancel-btn" data-dismiss="modal">Cancel</button>
              <a class="btn wwc-confirm-delete-btn js-wwc-confirm-delete-btn text-white">Delete</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/assets/js/script.js"></script>
  </body>
</html>
</html>